.all-movie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #e5e6eb;
}

@media only screen and (max-width: 780px) {
  .all-movie-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 680px) {
  .all-movie-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 370px) {
  .all-movie-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}