.movie-card-image {
  height: 15em;
  width: 100%;
}

.movie-card {
  border: solid #c0c2ce;
  margin: 2em;
  text-align: center;
  background-color: #fdf9f9;
  border-radius: 5%;
  box-shadow: 10px 5px 5px grey;
}

.movie-card:hover {
  transform: scale(1.04);
  transform: rotate(1.5deg);
  transition: all ease-in-out .3s;
  box-shadow: 20px 10px 10px grey;
}

.user-rating-input {
  width: 5em;
}

.submit-rating-button, .edit-user-rating {
  border-radius: 10%;
}

.submit-rating-button:hover, .edit-user-rating:hover {
  cursor: pointer;
  background-color: #ddf5f9;
}
